html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #4C516D;
}
/*MRZ Intro*/
.MRZ-Intro {
    text-align:left;
    margin-bottom: 20px;
    margin-left: 2%;
}
.MRZ-Intro h1 {
    font-weight: 300;
    font-size: 45px;
    color: white;
}
.MRZ-Content {
    max-width: 90%;
    margin-left: 3%;
    display: flex;
    gap: 100px;
}
/*Form Container*/
.form-container{
    flex: 3;
}
.form-control {
    background-color: #4C516D;
    border-color: #4C516D;
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}
.form-group input {
    border-color: #B9D9EB;
}
.form-container input::placeholder {
    color: white;
}
.validate-btn button {
    padding: 1% 0 1% 0;
    font-size: 22px;
    width: 100%;
    font-weight: 200;
    background-color: #7683cf;
    border-color: #7683cf;
}
/*Results Container */
.results-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    color: white;
    height: 500px;
    width: 500px;
}
.results {
    font-size: 21px;
    background-color: #7683cf;
    padding:7%;
    margin-top: 7%;
    border-radius: 3%;
}
.results ul li{
    background-color: #7683cf;
    font-size: 18px;
    color: white;
    font-weight: 200;
    padding: 3%;
    width: 400px;
}
.results h5{
    font-size: 21px;
    font-weight:500;
}
/*Media Query */
@media (max-width: 767px) {
    .MRZ-Intro {
        text-align: center;
        margin-bottom: 10px;
    }

    .MRZ-Intro h1 {
        font-weight: 300;
        font-size: 40px;
        color: white;
    }
    .MRZ-Content {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .form-container,
    .results-container {
        width: 100%;
        margin: 0;
    }

    .results-container {
        margin-top: 20px;
    }

    .results ul li {
        width: 100%;
    }
}