html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #4C516D;
}
.MRZ-Intro {
    text-align:left;
    margin-bottom: 20px;
    margin-left: 2%;
}
.MRZ-Intro h1 {
    font-weight: 300;
    font-size: 45px;
    color: white;
}
.MRZ-Content {
    max-width: 90%;
    margin-left: 3%;
    display: flex;
    gap: 100px;
}
.form-container{
    flex: 3;
}
/*.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #B9D9EB;
    border-radius: 2%;
    text-align: center;
    margin-top: 3%;
    height: 300px;
    color: white;
}

.image-container input {
    margin-top: 10px;
}*/
.form-control {
    background-color: #4C516D;
    border-color: #4C516D;
    color: white;
    font-size: 23px;
    font-weight: 200;
}
.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}
.form-group input {
    border-color: #B9D9EB;
}
.form-container input::placeholder {
    color: white;
}
.validate-btn button {
    padding: 1% 0 1% 0;
    font-size: 25px;
    width: 100%;
    font-weight: 200;
    background-color: #7683cf;
    border-color: #7683cf;
}
.results-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    color: white;
    height: 500px;
    width: 500px;
}
.results {
    font-size: 25px;
    background-color: #7683cf;
    padding:8%;
    margin-top: 9%;
    border-radius: 3%;
}
.results ul li{
    background-color: #7683cf;
    font-size: 20px;
    color: white;
    font-weight: 200;
    padding: 4%;
    width: 400px;
}
.results h5{
    font-size: 20px;
    font-weight:400;
}